/* Common Styles */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

/* header and navigation styles */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-size: 45PX;
    font-weight: 800px;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-size: 20PX;
    font-weight: 700;
    border: 0;
    padding: 18px 36px;
}

.btn-secondary {
    height: 64px;
    width: 120px;
    border-radius: 5px;
    background: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border-color: #FD6E0A;
    color: #FD6E0A;
}

/* banner styles */

.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 75px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about-me styles */

section {
    margin-top: 130px;
}

.about-me {
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What I Do styles */

.skills-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.skills-description {
    color: #757575;
    text-align: center;
    margin-bottom: 50px;

}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
}

/* Resume styles */

.resume-title {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 113px;

}

.resume-container {
    display: flex;
    gap: 24px;
}

.resume-subtitle {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
    margin-top: 30px;
}

.items-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.items-subtitle {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.items-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;
}

.thick-line {
    border: 1px solid #D1D1D1;
}

.resume-btn {
    margin-top: 30px;
    text-align: center;
}

/* contact styles */

.contact {
    display: flex;
    gap: 110px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}

.connect-description {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

.contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}